<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="mainDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		  destroy-method="close">
		<property name="driverClassName" value="#{config['jdbc.driverClass']}"/>
		<property name="url" value="#{config['jdbc.url']}"/>
		<property name="username" value="#{config['jdbc.username']}"/>
		<property name="password" value="#{config['jdbc.password']}"/>

		<property name="initialSize" value="20"/>
		<property name="maxActive" value="100"/>
		<property name="maxIdle" value="8"/>
		<property name="minIdle" value="5"/>
		<property name="maxWait" value="60000"/>
		<property name="removeAbandonedTimeout" value="300"/>
		<property name="removeAbandoned" value="true"/>
		<property name="defaultAutoCommit" value="true"/>

		<property name="validationQuery" value="SELECT 1 FROM DUAL"/>
		<property name="testWhileIdle" value="true"/>
		<property name="testOnBorrow" value="false"/>
		<property name="testOnReturn" value="false"/>
		<property name="numTestsPerEvictionRun" value="50"/>
		<property name="timeBetweenEvictionRunsMillis" value="900000"/>

		<property name="poolPreparedStatements" value="true"/>
        <property name="maxOpenPreparedStatements" value="-1"/>
	</bean>
	
</beans>